<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center red-text">Billings o método do amor</h1>
        <div class="row center">
        <h5 class="header col s12 light">Conheça o método natural de planejamento familiar que tem 99% de eficácia.</h5>
        </div>
        <div class="row center">
        <a target="_blank" href="http://www.cenplafam.com.br" id="download-button" class="btn-large waves-effect waves-light red">Quero saber mais!</a>
        </div>
        <br><br>
    </div>
</div>