<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <!-- Logo -->
        <a id="logo-container" href="#/" class="brand-logo" ng-click="navCtrl.setNav(0)">
            <img src="img/flower.ico" width="50px"/> MOB
        </a>

        <!-- Default nav -->
        <ul class="right hide-on-med-and-down">
            <li ng-class="{active: navCtrl.isThisNav(1)}"><a href="#observacoes" ng-click="navCtrl.setNav(1)">Observações</a></li>
            <li ng-class="{active: navCtrl.isThisNav(2)}"><a href="#sobre" ng-click="navCtrl.setNav(2)">Sobre</a></li>
            <li ng-class="{active: navCtrl.isThisNav(3)}"><a href="#test" ng-click="navCtrl.setNav(3)">Teste</a></li>
            <li ng-class="{active: navCtrl.isThisNav(4)}"><a href="#charts" ng-click="navCtrl.setNav(3)">Charts</a></li>
        </ul>

        <!-- Mobile nav -->
        <ul id="slide-out" class="side-nav">
            <li><div class="userView">
            <img class="background" src="img/background.jpg">
            <a href="#!user"><img class="circle" src="img/yuna.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
            </div></li>
            <li><a href="#observacoes">Observações</a></li>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#test">Teste</a></li>
            <li><a href="#charts">Charts</a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

        <!-- <ul id="nav-mobile" class="side-nav">
            <li><a href="#observacoes">Observações</a></li>
            <li><a href="#sobre">Sobre</a></li>
        </ul>
        <a href data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        -->
    </div>
    <script>
        (function($){
        $(function(){
            $('.button-collapse').sideNav({
                closeOnClick: true
            });
        }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
</nav>

