<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <!-- Logo -->
        <a id="logo-container" href="#" class="brand-logo"><img src="img/flower.ico" width="50px"/> MOB</a>

        <!-- Default nav -->
        <ul class="right hide-on-med-and-down">
        <li><a href="#">Sobre</a></li>
        </ul>

        <!-- Mobile nav -->
        <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
</nav>

