<div class="section">
    <div class="col s12 m5 container">
        <div class="card blue lighten-1">
            <div class="card-image">
              <img src="img/woomb-logo.png">
            </div>
            <div class="card-content white-text">
                <span class="card-title">Sobre</span>
                <p>O método de ovulação billings foi criado pelo casal John e Evelyn Billings e é mantido pela Organização Mundial do Método de Ovulação Billings (WOOMB em inglês)</p>
            </div>
            <div class="card-action white">
              <a class="blue-text" href="http://www.woombinternational.org/" target="_blank">Página da WOOMB</a>
            </div>
        </div>
    </div>
</div>