<h1>Qual o simbolo para sensação seca?</h1>
<div class="container" ng-controller="GameController as vm">
    <div class="row">
        <div class="input-field col s12">
            <select ng-model="vm.question1" ng-change="vm.checkAnswer();">
                <option value="" disabled selected>Selecione a resposta</option>
                <option value="0">Traço</option>
                <option value="1">Bolinha aberta</option>
                <option value="2">Bolinha fechada</option>
                <option value="3">Manchinhas</option>
                <option value="4">Bebê</option>
            </select>
            <label>Qual o simbolo para sensação seca?</label>
        </div>
        <div ng-if="vm.answer1">
            <h2>Acertô miseravi!</h2>
        </div>
        <div ng-if="!vm.answer1">
            <h2>Errooooou!</h2>
        </div>
    </div>
</div>
<script>
    (function($){
        $(function(){
            $('select').material_select();
        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>
