<div class="container">
    <ul class="collection with-header">
        <li class="collection-header"><h4> Observações </h4></li>
        <li class="collection-item avatar">
            <img src="img/flower.ico" alt="" class="circle">
           <span class="title">Seca</span>
            <p>Pouco muco<br>
            Muco vermelho
            </p>
           <div class="secondary-content">11/10/2016</div>
        </li>
        <li class="collection-item avatar">
            <img src="img/flower.ico" alt="" class="circle">
           <span class="title">{{observation.sensation}}</span>
            <p>{{observation.mucus_quantity}} muco<br>
            muco {{observation.mucus_color}}
            </p>
           <div class="secondary-content">11/10/2016</div>
        </li>
    </ul>
    <div class="row">
        <div class="card blue lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Nova Observação</span>
                <div class="row">
                    <form class="col s12" ng-controller="ObservationFormController as obsFormCtrl" ng-submit="obsFormCtrl.addObservation()">
                        <div class="input-field col s12">
                            <select ng-model="observation.sensation">
                                <option value="" disabled selected>Como Voce se Sente</option>
                                <option value="seca">Seca</option>
                                <option value="pegajosa">Pegajosa</option>
                                <option value="molhada">Molhada</option>
                                <option value="ecorregadia">Escorregadia</option>
                            </select>
                            <label class="white-text">Sensacao</label>
                        </div>
                        <div class="input-field col s12">
                            <select ng-model="observation.mucus_quantity">
                                <option value="" disabled selected>Voce ve algum muco?</option>
                                <option value="nenhum">Nenhum</option>
                                <option value="pouco">Pouco</option>
                                <option value="muito">Muito</option>
                            </select>
                            <label class="white-text">Quantidade de Muco</label>
                        </div>
                        <div class="input-field col s12">
                            <select ng-model="observation.mucus_color">
                                <option value="" disabled selected>Qual a cor do muco?</option>
                                <option value="transparente">Transparente</option>
                                <option value="branco">Branco</option>
                                <option value="vermelho">Vermelho</option>
                                <option value="outro">Outro</option>
                            </select>
                            <label class="white-text">Cor do Muco</label>
                        </div>
                        <button class="btn waves-effect waves-light red" type="submit" name="action">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function($){
        $(function(){
            $('select').material_select();
        }); // end of document ready
        })(jQuery); // end of jQuery name space        
    </script>
</div>